

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('website background.png');
  background-size: cover;
  background-position: center;
  z-index: -1;
}

body {
  margin: 0;
  display: flex;
  height: 100vh;
  background-image: url('website background.png'); /* Replace 'website background.png' with the path to your background image */
  background-size: cover; /* Adjust the background size as needed */
  background-repeat: no-repeat; /* Prevent background image from repeating */
  background-position: center; /* Center the background image */
  position: relative; /* Add relative positioning to the body */
}

.app-container {
  position: relative; /* Change to absolute positioning */
  top: 20rem;
  left: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; /* Align to the right */
  height: 100vh;
}

.left-image {
  width: 30%; /* Adjust the width as needed */
  max-height: 1500px; /* Set a maximum height for the image */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 20%; /* Add vertical space between above-card-image and left-image */
}



.above-card-image {
  max-width: 100%; /* Make sure it doesn't exceed the container width */
  height: auto; /* Allow the height to adjust proportionally */
  position: absolute;
  right: 0; /* Align to the right edge */
  top: 0;
}

.above-card-image img {
  width: 100%; /* Occupy 100% of the container width */
  height: auto; /* Allow the height to adjust proportionally */
  /* object-fit: cover; */
  transform: scaleX(-1); /* Flip horizontally */
  /* Remove the transform property to prevent flipping horizontally */
}


.culturas-text {
  position: absolute;
  top: 50%;
  right: 10%; /* Align to the right edge */
  transform: translate(0, -50%);
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  padding: 10px;
}

.card-pyramid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; /* Adjust the spacing between the above-card-image and the card pyramid */
}

.card-row {
  display: flex;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
