@font-face {
  font-family: "azonix";
  src: local("azonix"), local("azonix"), url("Azonix.otf") format("openType");
}

@font-face {
  font-family: "fontspring";
  src: local("fontspring"), local("fontspring"),
    url("fontspring.otf") format("openType");
}

@font-face {
  font-family: "neuropol";
  src: local("neuropol"), local("neuropol"),
    url("neuropol.otf") format("openType");
}
