@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");
@import url("../../public/fonts/fonts.css");
@import url("https://fonts.googleapis.com/css2?family=Jockey+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mate&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Metrophobic&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .debug {
    border: 1px dashed red;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #050917;
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: "Jockey One", sans-serif !important; */
}

html {
  box-sizing: border-box;
  font-size: 10px;
  overflow-x: hidden;
}

@media (max-width: 425px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 1440px) {
  body {
    overflow-x: hidden;
  }  
}

a {
  text-decoration: none;
  color: inherit;
}

.carousel__wrap {
  margin-top: 10%;
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  position: relative;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
}
.carousel__slide-item2 {
  display: inline-block;
  height: 32rem;
  margin: 0;
  padding: 1rem;
  /* transition: all 0.3s; */
  width: 30rem;
}

.carousel__inner {
  height: 42rem;
  border: 0px white solid;
  position: relative;
  width: calc(90rem);
}

.carousel__container {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.carousel__slide-list {
  height: 100%;
  left: 50%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  transform: translateX(-50%) translateY(40px);
  width: calc(330rem);
}

.carousel__slide-item {
  display: inline-block;
  height: 32rem;
  margin: 0;
  padding: 1rem;
  position: absolute;
  /* transition: all 0.3s; */
  width: 30rem;
}

.carousel__slide-item-img-link {
  cursor: zoom-in;
  display: flex;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.carousel__slide-item-img-link img {
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease;
  width: 100%;
}

.carousel__slide-item-img-link:hover::after {
  opacity: 1;
}

.carousel__slide-item-img-link:hover img {
  transform: scale(1.3);
}

.carousel-slide-item__body {
  bottom: -2.5rem;
  height: 10%;
  position: absolute;
}

.carousel-slide-item__body h4 {
  margin: 0.7rem 0 0;
  text-transform: uppercase;
}

.carousel-slide-item__body p {
  font-size: 1.2rem;
  line-height: 1.3;
  margin: 0.7rem 0 0;
}

.carousel__btn {
  align-items: center;
  background: 0;
  border: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel__btn--prev {
  left: -10rem;
}

.carousel__btn--next {
  right: -10rem;
}

.carousel__btn-arrow {
  border: solid white;
  border-width: 0 0.4rem 0.4rem 0;
  height: 6rem;
  padding: 3px;
  width: 6rem;
  z-index: 10;
}

.carousel__btn-arrow--left {
  transform: rotate(135deg);
}

.carousel__btn-arrow--right {
  transform: rotate(-45deg);
}

.carousel__dots {
  display: inline-block;
  left: 50%;
  margin-top: 2rem;
  position: absolute;
  transform: translateX(-50%);
}

.carousel__dots .dot {
  background: #ccc;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  height: 2rem;
  margin: 0 0.3rem;
  outline: none;
  transform: scale(0.5);
  width: 2rem;
}

.carousel__dots .dot.active {
  background: rgb(87, 87, 87);
}

#card {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.03) 60%,
    rgba(0, 0, 0, 0) 100%
  );
}

/* styles.css */
.image-container {
  position: absolute;
  top: 0;
  right: 0;
}

.image-container img {
  max-width: 100%; /* Ensure the image doesn't exceed the container width */
}

.content {
  /* background-image: url("/public/images/back.png") !important; */
  /* height: 100vh; */
  background-size: cover;
  background-repeat: repeat;
}

/* Font CSS */
.font-mate {
  font-family: "Mate", serif;
}

.font-metrophobic {
  font-family: "Metrophobic", sans-serif;
}

.styledCard {
  border: 1px solid white;
  border-radius: 10px;
}
